<!-- MINTIC 2022 / UNIVERSIDAD DEL BOSQUE / GRUPO 33 / GRUPO 2 -->
<!-- COMMENT -->

<!DOCTYPE html>
<!-- LENGUAJE DE DOCUMENTO -->
<html lang="es">

    <!-- ENCABEZADO DE DOCUMENTO -->
    <head>
        <!-- DEFINE LOS CARACTERES ALFA-NUMERICOS -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TITULO DE LA VISTA O PESTAÑA -->
        <title>Gestion de ventas / Login</title>
        <!-- COMMENT -->
        <link rel="stylesheet" href="../Style/STYLE.CSS">

        <!-- DEFINE ESTILO DE VISUALIZACION DEL LOGIN -->
        <!-- ** SE DEBERA SUPRIMIR ESTA LINEAS DE CODIGO Y BUSCAR OTRA FORMA DE ORGANIZAR LA PRESENTACION -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>

    <!-- CUERPO DE DOCUMENTO -->
    <body>

        <!-- SECCION / CUERPO SUPERIOR -->
        <div class="DivClassSecctionUpper">

            <!-- IMPORTANTE: PARA ESTA SECCION UTILICE TABLAS, YA QUE LOS OTROS METODOS UTILIZADOS
            AL MODIFICAR EL TAMAÑO, LAS IMAGENES SE SOLAPABAN -->

                <!-- SECCION / TABLA DE CONTENIDO -->
                <table class="ClassTableInicial">
                    <tbody>
                        <tr class="ClassTableTr">
                            <th class="ClassTableTh" >
                                <img class="ClassLogMinTic" src="../Image/LogoMinTic_001.png" alt=""/>
                            </th>
                            <th class="ClassTableTh">
                                <img class="ClassLogMinTic2022" src="../Image/LogoMisionTic2022_001.png" alt=""/>
                            </th>
                            <th class="ClassTableTh">
                                <img class="ClassLogUnvBos" src="../Image/LogoUniversidadBosque_001.png" alt=""/>
                            </th>
                        </tr>
                    </tbody>
                </table> <!-- SECCION / TABLA DE CONTENIDO -->

        </div> <!-- SECCION / CUERPO SUPERIOR -->

        <!-- SECCION / CUERPO DE LOGIN -->
        <div class="DivClassSecctionCentral">
            
            <!-- SECCION / DIVICION DINAMICA -->
            <div class="container login__container my-5">

                    <!-- SECCION / CUERPO INTERNO -->
                    <div class="row login__row">

                        <!-- SECCION / IMAGEN DE PRESENTACION -->
                        <div class="col-md-6 d-flex">
                            <img class="ClassImageStarup" src="../Image/ImageOffice_002-2.jpg" />
                        </div>
                        
                        <!-- SECCION / LOGIN ACCION -->
                        <div class="col-md-6 d-flex">
                            <div class="align-self-center card login__card shadow-sm w-100">
                                <div class="card-body">
                                    <form action="">

                                        <!-- SECCION / MENSAJE DE BIENVENIDA -->
                                        <div class="">
                                            <br>
                                            <!-- TEXTO DE BIENVENIDA -->
                                            <h3>Gestor de ventas V1.0</h3>
                                            <br>
                                        </div>
                                        
                                        <!-- SECCION / DATOS DE USUARIO-->
                                        <div class="">

                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" placeholder="Usuario" />
                                                <br>
                                                <input type="password" class="form-control form-control-lg" placeholder="Contraseña"/>
                                            </div>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input custom-control" id="customCheckDisabled1" />
                                                <label class="custom-control-label" for="customCheckDisabled1">Recordar mi cuenta</label>
                                            </div>

                                            <!-- SECCION / PROCESO DE INICIO E INFORMATIVO -->
                                            <div class="form-group">

                                                <br>
                                                <!-- BOTON DE INICIO DE SECION -->
                                                <button id="ButtonIdLogin" class="ButtonClassLogin" onclick="">Login</button> 
                                                <br><br>

                                                <!-- REDIRECCIONAMIENTO O ENLACE PARA OLVIDO DE CONTRASEÑA -->
                                                <div><a href="#!">Olvide mi contraseña...</a></div>

                                                <!-- ELEMENTO DE DIVICION -->
                                                <div class="ClassDivDefault"><hr></div>
                                                
                                                <!-- REFERENCIAS Y LINKS -->
                                                <div class="text-center w-100">
                                                    <!-- TEXTO CON TAMAÑO DE FUENTE PEQUEÑA -->
                                                    <small>Porgrama MisionTic 2022</small>
                                                    <br>
                                                    <small><a href="https://www.misiontic2022.gov.co/portal/">www.misiontic2022.gov.co</a></small>
                                                    
                                                </dvi>

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            </div> <!-- SECCION / DIVICION DINAMICA -->

        </div> <!-- SECCION / CUERPO DE LOGIN -->
        
        <!-- _________________________
        PARTE INFERIOR -->
        <!-- SECCION / CUERPO DE LOGIN -->
        <div class="DivClassSecctionLower">
            <h2>SECCION INFERIOR</h2>
        </div>

    </body>
</html>